@{
    ViewData["Title"] = "Home Page";
}

@using EzEzForum.Models
@model List<Thread>

<div class="row">
    <div class="col-md-8">
        <h1>Threads</h1>
    </div>
    <div class="col-md-4">
        <form action="/Home/index" method="get" class="form-inline" style="padding-top:20px;">
            <div class="form-group">
                <input type="text" class="form-control" name="search" placeholder="Search Tags">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
    </div>
</div>

<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Thread</th>
        <th>Hits</th>
        <th>Original Poster</th>
        <th>Date Created</th>
    </tr>
    @foreach (var p in Model) {
        <tr>
            <th>@p.ThreadId</th>
            <th><a href="/Home/ViewThread?id=@p.ThreadId">@p.Title</a></th>
            <th>@p.ThreadHits</th>
            <th><a href="/Home/ViewProfile?id=@p.MemberId">@p.Member.Email</a></th>
            <th>@p.DateTimeCreated</th>
        </tr>
    }
</table>
